/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
}

/* Logo */
.logo{
  height: 50px;
}
.logo img{
    padding: 8px 10px;
    margin-left: -8px;
}

#logo{
    flex: 1 1 40rem;
}
.row img{
    width: 220px;
    height: 250px;
    margin-top: -7.5vh;
}
.row{
    display: flex;
    position: relative;
    margin-left: 40vh;
    margin-top: -10%;
  }
  /* Menu de navigation */
  .menu {
    margin-top: 5px;
  }
.menu ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-left: 70vh;
    padding: 0 30px;

}

.menu li{
margin-right: 15vh;
margin-top: -6px;
}
.menu li a{
    text-decoration: none;
   font-weight: 50px;
    color: #000;
    font-size: 3vh;
}
/* Styles pour les écrans de PC */
@media (min-width: 1440px) {
    /* Aucun style supplémentaire pour les écrans de PC */
}

/* Styles pour les tablettes */
@media (max-width: 1024px) and (min-width: 768px) {
    .menu ul {
        margin-left: 30px;
        padding: 0 15px;
    }

    .menu li {
        margin-right: 10px;
    }

    .menu li a {
        font-size: 16px;
        margin-top: 0px;
    }
}

/* Styles pour les téléphones */
@media (max-width: 720px) {
    .menu ul {
        flex-direction: column;
        margin-left: 0;
        padding: 0;
    }

    .menu li {
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 10px;
    }

    .menu li a {
        font-size: 14px;
        margin-top: 0;
    }
}
.menu li a{
    position: relative;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: grey;
    letter-spacing: 0.5px;
    padding: 0 5px;
}
.menu li a:after{
    content: "";
    position: absolute;
    background-color: #FFCF39;
    height: 3px;
    width: 0%;
    left: 0%;
    bottom: -6px;
    transition: 0.3s;
}
.menu li a:hover{
    color: black;
}
.menu li a:hover::after{
    width: 100%;
}
 li a{
    margin-top: -4vh;
}

/* icônes */
.icone {
    float: right;
    margin-top: -4vh;
    margin-right: 6vh;
    display: flex;
  }
  .icon-spacing {
    margin-right: 1.2cm; /* Espace entre les icônes */
  }
  

.container-te{
    background-image: url(images/IMAGE\ ALABRI\ 1.png);
    height: 300px;
  margin-top: 1%;
  border: 1.5px solid #000;
}

.container-te{
    color: white;
    justify-content: center;
    box-shadow: 0px 5px 11px rgba(0,0,0,.4)
    text-align: center;
}

.container-te h2{
    margin-top: 10vh;
    font-size: 60px;
    font-weight: normal;
    font-family: 'Inter';
    font-family: Arial, Helvetica, sans-serif;
}
.container-te p{
    margin-top: 10vh;
    font-size: 6vh;
    color: rgba(255, 255, 255, 0.856);
}
.rond1{
  margin-left: 10%;
  width: 3px;
  margin-top: -1%;
  animation: rotation 2s infinite linear; /* Appliquez l'animation */
  float: left;
}
/* Définissez l'animation */
@keyframes rotation {
    from {
      transform: rotate(0deg); /* Point de départ de l'animation */
    }
    to {
      transform: rotate(359deg); /* Point d'arrivée de l'animation */
    }
  }
.h{
    width: 70%;
   border: 2px solid #FFCF39;
    margin-top: 9vh;
    margin-left: 15%;
    margin-right: auto;
}
.rond2{
    width: 3px;
    float: right;
    margin-top: -1%;
    margin-right: 10%;
    animation: rotation 2s infinite linear; /* Appliquez l'animation */
}
/* Définissez l'animation */
@keyframes rotation {
    from {
      transform: rotate(0deg); /* Point de départ de l'animation */
    }
    to {
      transform: rotate(359deg); /* Point d'arrivée de l'animation */
    }
  }



/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    background-color: #FFCF39;
    float: left;
    padding-bottom: 60px;
}

.banner_taital {
    width: 100%;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.buynow_bt {
    width: 170px;
    margin: 0 auto;
    padding-top: 30px;
}

.buynow_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
    text-align: center;
    padding: 10px 0px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.buynow_bt a:hover {
    background-color: #f26522;
    color: #ffffff;
}

#my_slider a.carousel-control-next {
    right: 0px;
    top: 40px;
}

#my_slider a.carousel-control-prev {
    left: 0px;
    top: 40px;
}

#my_slider .carousel-control-next,
#my_slider .carousel-control-prev {
    width: 45px;
    height: 45px;
    background: rgb(242, 222, 172, 0.80);
    opacity: 1;
    font-size: 20px;
    color: #000;
    border-radius: 100px;
}

#my_slider .carousel-control-next:focus,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-prev:hover {
    color: #fff;
}


/* banner section end */


/* fashion section start */

.fashion_section {
    width: 100%;
    float: left;
}

.fashion_taital {
    width: 100%;
    font-size: 40px;
    color: #30302e;
    text-align: center;
    font-weight: bold;
    animation: 12s infinite;
}

.fashion_section_2 {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20vh;
    text-transform: uppercase;
}
/* Définir l'animation avec @keyframes */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}


/* Appliquer l'animation à l'élément h1 */

h1.fashion_taital {
    animation: slideIn 6s infinite;
}


.box_main {
    width: 100%;
    position: relative;
    background: #ffffff;
    height: auto;
    margin-top: 30vh;
    flex: 1;
    margin-left: -30%;
    padding: 30px 40px;
    box-shadow: 0px 0 5px 5px #4d493f;
    margin-bottom: 20px;
}
.box_main:hover {
    background: #d1c58f;
    color: #ffffff;
}
.box_main:hover {
    color: #ffffff;
}

.box_main-2 {
    width: 100%;
    position: relative;
    background: #ffffff;
    height: auto;
    margin-top: 30vh;
    flex: 1;
    margin-left: -37%;
    padding: 30px 40px;
    box-shadow: 0px 0 5px 5px #4d493f;
    margin-bottom: 20px;
}
.box_main-2:hover {
    background: #d1c58f;
    color: #ffffff;
}
.box_main-2:hover {
    color: #ffffff;
}

.box_main-3 {
    width: 100%;
    position: relative;
    background: #ffffff;
    height: auto;
    margin-top: 30vh;
    flex: 1;
    margin-left: -23%;
    padding: 30px 40px;
    box-shadow: 0px 0 5px 5px #4d493f;
    margin-bottom: 20px;
}
.box_main-3:hover {
    background: #d1c58f;
    color: #ffffff;
}
.box_main-3:hover {
    color: #ffffff;
}

.box_main-1 {
    width: 100%;
    position: relative;
    background: #ffffff;
    height: auto;
    margin-top: 30vh;
    flex: 1;
    margin-left: -23%;
    padding: 21px 40px;
    box-shadow: 0px 0 5px 5px #4d493f;
    margin-bottom: 20px;
}
.box_main-1:hover {
    background: #d1c58f;
    color: #ffffff;
}
.box_main-3:hover {
    color: #ffffff;
}


.shirt_text {
    width: 100%;
    font-size: 20px;
    color: #30302e;
   
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

h4{
    margin-top: -10px;
    text-align: center;
}

.tshirt_img {
    width: 15rem;
    text-align: center;
    margin: 40px 0px;
    min-height: 15rem;
    overflow: hidden;
}
.tshirt_img img{
    display: block;
    width: 100%;
    transform: transform 0.5s ease;
}
.tshirt_img:hover img{
    transform: translateX(20px);
}
.tshirt_img:hover img{
    transform: translateX(20px) scale(1.1);
}



.btn_main {
    width: 100%;
    display: flex;
}

.buy_bt {
    float: left;
    width: 100%;
    text-align: center;
}

.buy_bt a {
    width: 100%;
    font-size: 16px;
    color: #000;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    align-tex
    font-weight: bold;
}

.buy_bt a:hover {
    background-color: transparent;
    color: #fff;
}


#main_slider a.carousel-control-next {
    right: 615px;
    top: 105%;
}

#main_slider a.carousel-control-prev {
    left: 615px;
    top: 105%;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #30302e;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fff;
    background-color: #f26522;
}


/* loader bar css start */

.loader_main {
    width: 100%;
    text-align: center;
    margin-top: 0vh;
}

.loader {
    border: 8px solid #ff00ff;
    border-radius: 50%;
    border-top: 8px solid #FFCF39;
    border-right: 8px solid #000;
    border-bottom: 8px solid #FFCF39;
    border-left: 8px solid #000;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 6s linear infinite;
    margin: 0 auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}







/*footer*/
*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.sociaLIcons{
    display: flex;
    justify-content: center;
}
.sociaLIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: #32BEDD;
    margin: 10px;
    border-radius: 50px;
}



/*footer*/

footer {
    background-color: black;
    color: white;
    padding: 35px;
    text-align: center;
    padding-top: 15vh;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-bar {
    display: flex;
    margin-bottom: 20px;
  }

  .search-bar input {
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
  }
  .search-bar input:hover {
    background-color: #f0f0f0;
    color: black;
  }

  
  .search-bar button {
    padding: 10px 20px;
    background-color: #BD0FDA;
    color: white;
    border: none;
    border-radius: 15px;
    margin-left: 1vh;
    cursor: pointer;
  }
  .search-bar button:hover{
    background-color: #fff;
    color: #000;
  }

  .lettre p {
margin-top: -11vh;
margin-right: 10vh;
  }
 
    .container-footer nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        margin-right: 20vh;
        margin-top: 2vh;
      }
      .container-footer nav ul li {
        margin: 0 10px;
      }
      .container-footer nav ul li a {
       text-decoration: none;
       color: #fff;
      }

/* Styles pour les écrans de petite taille */
  @media(max-width: 768px) {
    .container-footer nav ul{
        flex-direction: column;
        color: white;
        align-items: center;
      }
      .container-footer nav ul li{
        margin: 10px 0;
      }
     
  }
  .container-footer nav a:hover{
    color: #ffcf39;
    height: 5px;
  }
  
  
  
  .social-links {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-top: 5%;
    margin-left: 100vh;
   flex-wrap: wrap;
  }
  
  .social-links a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    transition:all 0.5s ease;
  }
  .social-links a:hover   {
    transform: rotate(360deg);
    box-shadow: 0 0 5px #ffcf39, 0 0 10px #FFCF39;
}

  /* Media queries pour rendre le design responsive */
@media (max-width: 768px) {
    .social-links {
      flex-direction: column;
    }
  
    .social-links h5 {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .social-links a {
      margin: 5px 0;
    }
  }
  
  @media (max-width: 480px) {
    .social-links a {
      font-size: 20px;
    }
  }
  h5{
    margin-right: 13vh;
    margin-top: 1vh;
    color: #ffffff96;
}
  
.linkedin:hover {
    color: #0077b5;
}
.facebook:hover {
    color: #1877f2;
}
.whatsapp:hover {
    color: #25d366;
}
.envelope:hover {
    color: #ea4335;
}
  
span {
  float: left;
  margin-top: -2vh;
}


